:root {
  --bg: #1c1e51;
  --bg-grey: #e6e7e8;
  --text: #2658a8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  /* line-height: 1.42857143; */
}

body.nowPlaying {
  background-color: var(--bg-grey) !important;
}

body {
  position: relative;
  min-height: 100vh;
}

.konten {
  width: 100%;
  background-color: var(--bg);
  display: flex;
  justify-content: space-between;
  padding: 30px 7.5%;
  align-items: center;
  z-index: 1;
}

.konten-now-playing {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 7.5%;
  background-color: var(--bg);
  position: relative;
  z-index: 1;
}

.konten .logo h1,
.konten-now-playing .logo h1 {
  font-size: 32px;
  color: white;
  font-weight: bold;
  margin-bottom: 0;
}

.konten-now-playing .menu a {
  text-decoration: none;
  color: white;
  padding: 0px 5px 36px 5px;
  /* margin-right: 20px; */
  /* font-size: 14px; */
}

.konten .menu a {
  text-decoration: none;
  color: white;
  padding: 0px 5px 36px 5px;
  /* margin-right: 20px; */
  /* font-size: 14px; */
}

.konten .menu a.span,
.konten-now-playing .menu a.span {
  margin-right: 0;
}

.konten .menu a:hover,
.konten-now-playing .menu a:hover {
  border-bottom: 5px solid yellow;
}

.konten .menu a.active,
.konten-now-playing .menu a.active {
  border-bottom: 5px solid yellow;
}

.background {
  position: absolute;
  top: 50px; /* Sesuaikan ini dengan tinggi header */
  left: 0;
  width: 100%;
  height: 120vh; /* Pastikan ukuran memenuhi layar */
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ),
    url("../img/wallpaper.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  z-index: 0;
}

.now-playing {
  position: relative;
  z-index: 1;
  width: 85%;
  /* min-height: 100vh; */
  background-color: white;
  margin: auto;
  top: 100vh;
  padding-bottom: 50px;
}

.now-playing .title {
  display: flex;
  padding: 70px 5%;
  align-items: center;
}

.now-playing .title h1 {
  font-size: 24px;
  color: var(--text);
  margin-right: 50px;
  font-weight: bold;
  margin-bottom: 0;
}

.now-playing .title select {
  padding: 10px 25px;
  border-radius: 20px;
  border: solid 1px #e6e7e8;
}

.movie-container {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  padding: 0 4%;
  flex-wrap: wrap;
}

.movie-box {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  height: auto;
}

.movie-box img {
  width: 100%;
  padding-bottom: 10px;
}

.movie-box h2 {
  font-size: 16px;
  color: var(--text);
  margin: 10px 0;
  font-weight: 600;
}

.movie-box p {
  font-size: 12px;
  color: #1c1e51;
}

.durasi {
  font-size: 12px;
  color: #808285;
  margin: 3px 0px 10px;
}

.age {
  background-color: #ffd700;
  color: #333;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
  width: 70px;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.menu-icon {
  display: none;
  font-size: 34px;
  color: white; /* Atur warna sesuai kebutuhan */
  cursor: pointer;
}

.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Tersembunyi secara default */
  position: fixed;
  right: -250px;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #1c1e51;
  transition: 0.3s;
  z-index: 2;
}

.side-menu.active {
  right: 0;
}

.side-menu a {
  padding: 20px 20px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  text-align: end;
}

.upcoming {
  position: relative;
  width: 95%;
  margin: auto;
}

.upcoming .title-upcoming {
  padding: 30px 5%;
}

.upcoming-now-playing {
  position: relative;
  top: 100vh;
  left: 0;
  width: 85%;
  margin: auto;
  padding-bottom: 70px;
}

.upcoming-now-playing .title-upcoming {
  display: flex;
  justify-content: space-between;
  padding: 70px 5%;
  align-items: center;
}

.upcoming-now-playing .title-upcoming h1,
.upcoming .title-upcoming h1 {
  font-size: 24px;
  color: var(--text);
  font-weight: 600;
}

.upcoming-now-playing .title-upcoming button {
  padding: 10px 30px;
  border-radius: 20px;
  text-transform: uppercase;
  background-color: #1c1e51;
  border: 2px solid var(--bg);
  cursor: pointer;
}

.upcoming-now-playing .title-upcoming button a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.upcoming-now-playing .responsive a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.upcoming-now-playing .responsive {
  display: none;
  width: 100%;
  padding: 10px 0;
  color: white;
  background-color: var(--bg);
  border-radius: 20px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.42857143;
}

.movie-container-upcoming {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  padding: 0 5%;
  flex-wrap: wrap;
}

.footer,
.footer-daftar {
  /* position: absolute;
  bottom: 0; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: var(--bg);
}

.footer-now-playing {
  position: relative;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: var(--bg);
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
}

.footer-now-playing i,
.footer {
  color: white;
  padding-right: 8%;
  font-size: 20px;
}

.iklan {
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 80px;
  height: 80px;
  background-color: white;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.iklan i {
  font-size: 50px;
  color: yellow;
}

.container-daftar {
  width: 50%;
  margin: auto;
  border: 1px solid #ddd;
  margin: 50px auto;
  border-radius: 5px;
}

.container-daftar .title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.container-daftar .title h1 {
  font-size: 24px;
  margin-bottom: 0;
  letter-spacing: 0.04rem;
}

.container-daftar form {
  padding: 15px 15px 0px;
}

.container-daftar form label {
  font-weight: bold;
  font-size: 14px;
}

.container-daftar button {
  width: 95%;
  margin-left: 15px;
  background-color: #337ab7;
  border-color: #2e6da4;
  margin-bottom: 10px;
  font-family: "Ubuntu", sans-serif;
}

.container-daftar p {
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.container-daftar p a {
  text-decoration: none;
  color: #337ab7;
}

.upcoming .anyar {
  height: 500px;
  width: 200px;
  background: yellow;
  position: relative;
}

.title-theatres {
  display: flex;
  padding: 40px 7.5%;
  align-items: center;
}

.title-theatres h1 {
  font-size: 24px;
  color: var(--text);
  margin-bottom: 0;
  margin-right: 60px;
  font-weight: 700;
}

.title-theatres select {
  padding: 10px 25px;
  border-radius: 20px;
  border: 1px solid #e6e7e8;
}

.location-theatres {
  display: flex;
  align-items: center;
  width: 85%;
  height: 80px;
  margin: 40px auto;
  padding: 0 1%;
  border-bottom: 1px solid #ddd;
  color: var(--bg);
  font-weight: 500;
}

.location-theatres:hover {
  background-color: var(--bg);
  color: white;
}

/* MEDIA QUERY */
@media (max-width: 1366px) {
  .footer {
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 1200px) {
  .now-playing {
    top: 30vh;
  }

  .upcoming-now-playing {
    top: 30vh;
  }

  .footer-now-playing {
    top: 30vh;
  }

  .footer {
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 1024px) {
  .now-playing {
    top: 30vh;
  }

  .movie-container {
    gap: 10px;
  }

  .movie-box {
    width: 240px;
  }

  .footer {
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .konten-now-playing {
    padding: 10px 7.5%;
    position: fixed;
    z-index: 3;
  }

  .background {
    height: 50vh; /* Atur tinggi yang lebih kecil pada layar kecil */
    background-position: center;
  }

  .now-playing {
    top: 30vh;
  }

  .movie-container {
    gap: 10px;
  }

  .movie-box {
    width: 190px;
  }

  .now-playing .title {
    padding: 30px 4%;
  }

  .now-playing .title h1 {
    font-size: 16px;
    margin-right: 10px;
    margin-bottom: 0;
  }

  .now-playing .title select {
    padding: 5px 15px;
    font-size: 14px;
  }

  .container-daftar {
    width: 80%;
  }

  .footer {
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 468px) {
  .movie-container {
    gap: 10px;
  }

  .movie-container-upcoming {
    justify-content: center;
  }

  .movie-box {
    width: 150px;
  }

  .now-playing {
    padding: 0 2%;
  }

  .title {
    padding: 30px 4%;
  }

  .title h1 {
    font-size: 16px;
  }

  .footer {
    position: absolute;
    bottom: 0;
    height: 60px;
  }

  .konten,
  .konten-now-playing {
    padding: 10px 5%;
    position: relative;
    z-index: 4;
  }

  .upcoming-now-playing .title-upcoming button {
    display: none;
  }

  .upcoming-now-playing .responsive {
    display: block;
  }

  .upcoming-now-playing .title-upcoming {
    padding: 60px 5% 30px;
  }

  .title-theatres h1 {
    margin-right: 20px;
  }
}

@media (max-width: 414px) {
  .movie-container-upcoming {
    gap: 10px;
    justify-content: center;
  }

  .movie-box {
    width: 140px;
  }

  .now-playing {
    top: 20vh;
    padding: 0 2%;
  }

  .title {
    padding: 30px 4%;
  }

  .title h1 {
    font-size: 16px;
  }

  .upcoming-now-playing {
    top: 15vh;
  }

  .upcoming h1 {
    font-size: 16px;
  }

  .footer-now-playing {
    top: 15vh;
  }

  .upcoming-now-playing .title-upcoming {
    padding-bottom: 20px;
  }

  .upcoming-now-playing .title-upcoming button {
    display: none;
  }

  .upcoming-now-playing .responsive {
    display: block;
  }
  .footer {
    position: absolute;
    bottom: 0vh;
  }

  .container-daftar {
    width: 90%;
  }

  .title-theatres h1 {
    margin-right: 10px;
  }
}

@media (max-width: 375px) {
  .movie-container-upcoming {
    justify-content: center;
  }

  .movie-box {
    width: 120px;
  }
  .footer {
    position: absolute;
    bottom: -20vh;
  }
  .container-daftar {
    width: 90%;
  }
  .title-theatres h1 {
    margin-right: 0px;
  }
}
